html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 37.5px; }

.classifywrap {
  height: 100%;
  width: 100%;
  font-size: 0.42667rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column; }
  .classifywrap .classify-header-title {
    height: 1.17333rem;
    width: 100%;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    background: yellow;
    -webkit-align-items: center;
    align-items: center; }
    .classifywrap .classify-header-title > span {
      width: 1.33333rem; }
    .classifywrap .classify-header-title > div {
      -webkit-flex: 1 1 0%;
      flex: 1 1 0%;
      text-align: center; }
  .classifywrap .add_classify {
    height: 1.17333rem;
    width: 100%;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 0.26667rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-align-items: center;
    align-items: center;
    background: #fff; }
    .classifywrap .add_classify input {
      background: transparent;
      height: 0.8rem;
      border: none;
      text-align: right;
      line-height: 1.17333rem;
      margin: 0; }
  .classifywrap .mui-slider {
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%; }
    .classifywrap .mui-slider .mui-slider-group .mui-slider-item > div {
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%; }
      .classifywrap .mui-slider .mui-slider-group .mui-slider-item > div > div {
        width: 20%;
        height: 1.6rem;
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center; }
        .classifywrap .mui-slider .mui-slider-group .mui-slider-item > div > div > span {
          background: #000;
          color: #fff;
          height: 1.06667rem;
          width: 1.06667rem;
          text-align: center;
          border-radius: 100%;
          text-align: center;
          line-height: 1.06667rem; }
  .classifywrap .classify-btn {
    height: 1.33333rem;
    width: 100%;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center; }
    .classifywrap .classify-btn > div {
      width: 80%;
      height: 0.8rem;
      background: yellow;
      border-radius: 0.26667rem;
      text-align: center;
      line-height: 0.8rem;
      color: #fff; }
