@import "common.scss";
@import "_mixin.scss";


.mui-inner-wrap{
	@include box_flex;
	@include direction(column);
	font-size:pxTorem(16px);
	.box{
		height: pxTorem(100px);
		line-height: pxTorem(100px);
		text-align: center;
		width: pxTorem(100px);
		border-radius: 100%;
		background: yellow;
		font-size: pxTorem(50px);
		color: #fff;
		position: absolute;
		left: 50%;
		bottom: pxTorem(45px);
		margin-left: pxTorem(-50px);
		z-index: 999;
	}
	header{
		height: pxTorem(129px);
		width: 100%;
		background: yellow;
	}
	.header-top{
		height: pxTorem(44px);
		width: 100%;
		@include box_flex;
		@include justify(space-between);
		@include align;
		padding: 0 pxTorem(10px);
		@include sizing;
		.selectType{
			display: inline-block;;
			height: pxTorem(30px);
			line-height: pxTorem(30px);
			text-align: center;
			width: pxTorem(50px);
			border: 1px solid #000;
			border-radius: pxTorem(10px);
		}
		.selectDate{
			display: inline-block;;
			height: pxTorem(30px);
			line-height: pxTorem(30px);
			text-align: center;
			width: pxTorem(80px);
			border: 1px solid #000;
			border-radius: pxTorem(10px);
		}
	}
	.header-center{
		font-size: pxTorem(28px);
	}
	.header-bottom{
		height: pxTorem(44px);
		width: 100%;
		line-height: pxTorem(44px);
		@include box_flex;
		@include justify(space-between);
		@include align;
		padding: 0 pxTorem(10px);
	}
	
	.mui-tab{
		height: pxTorem(44px);
		width: 100%;
		@include box_flex;
		@include justify(space-between);
		@include align;
		padding: 0 pxTorem(10px);
		@include sizing;
		>div{
			height: pxTorem(30px);
			width: pxTorem(100px);
			border: 1px solid #000;
			border-radius: pxTorem(10px);
			@include box_flex;
			overflow: hidden;
			span{
				@include flex;
				line-height: pxTorem(30px);
				text-align: center;
			}
			span.active{
				background: yellow;
			}
		}
	}
	.mui-content{
		@include flex;
		width: 100%;
		position:relative;
		.mui-bill-year{
			display: none;
		}
		.mui-navigate-right{
			@include box_flex;
			>div:nth-child(2){
				@include box_flex;
				@include flex;
				dl{
					@include flex;
					@include box_flex;
					@include direction(column);
					@include justify;
					@include align;
				}
				dl.muiPay{
					color: red;
				}
				dl.income{
					color: green;
				}
				dl.balance{
					color: #888888;;
				}
			}
		}
		.mui-collapse-pay{
			.mui-collapse-type{
				color: red;
				font-size: pxTorem(20px);
			}
			.mui-collapse-active{
				color: green;
				font-size: pxTorem(20px);
			}
			.mui-slide-list{
				width: 100%;
				@include box_flex;
				@include justify(space-between);
				>div:nth-child(2){
					@include flex;
					margin-left: pxTorem(10px);
				}
			}
		}
		.mui-bill-month{
			.mui-bill-month-title{
				height: pxTorem(44px);
				width: 100%;
				@include box_flex;
				@include justify(space-between);
				@include align;
				padding: 0 pxTorem(10px);
				@include sizing;
			}
			.mui-bill-month-list{
				@include box_flex;
				@include justify(space-between);
				@include align;
				padding: 0 pxTorem(10px);
				@include sizing;
				>div:nth-child(2){
					@include flex;
				}
			}
			.mui-table-view-cell-pay {
				.mui-price{
					color: red;
				}
				.mui-active{
					color: green;
				}
			}
		}
		
	}
}
.mui-chart{
	display: none;
}

/*侧边栏的样式*/
.mui-off-canvas-left{
	font-size: pxTorem(16px);
	background: #fff;
	.mui-scroll{
		padding: 0 pxTorem(10px);
		@include sizing;
	}
	.mui-aside-title{
		// height: pxTorem(44px);
		width: 100%;
		// line-height: pxTorem(44px);
		border-left: 2px solid yellow;
		padding-left:pxTorem(10px);
		@include sizing;
		margin-top: pxTorem(10px);
		font-weight: bold;
		
	}
	.mui-aside-list{
		@include box_flex;
		@include flexWrap;
		margin-bottom:pxTorem(10px);
		li{
			padding: pxTorem(3px) pxTorem(10px);
			@include sizing;
			border: 1px solid #000;
			border-radius: pxTorem(10px);
			margin: pxTorem(3px) pxTorem(10px);
		}
		li.asideActive{
			border: 1px solid yellow;
		}
	}
	.aside-btns{
		width: 100%;
		@include box_flex;
		@include justify;
		@include align;
		span{
			display: inline-block;
			height: pxTorem(30px);
			line-height: pxTorem(30px);
			text-align: center;;
			width: pxTorem(80px);
			background: #CACACA;
			margin: 0 pxTorem(5px);
			border-radius: pxTorem(10px);
		}
		span.asideSure{
			background: yellow;;
		}
	}
}